{
    "presets": [ 
        "env",
        "stage-0",
        "react",
     ],
    "plugins": [
        "transform-runtime",
        ["import", {
            "libraryName": "antd",
            // "libraryDirectory": "es",
            "style": true // `style: true` 会加载 less 文件
          }],
          "transform-decorators-legacy"
    ]
}