.root-container {
  background-image: url('../images//bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.root-container .root-main {
  display: flex;
}
.root-container .root-main .root-pages {
  flex: 1;
}
.nav-dropmenu {
  width: 15rem;
  top: 2rem;
  right: -2rem;
}
#leftNav .ant-menu-root {
  min-height: calc(95vh);
}
#leftNav .ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: #42485B ;
}
#leftNav .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: #333745;
}
